<integrity-section title="Definition and Usage">
    The &lt;integrity-schedule&gt; component is used for picking schedules.
  </integrity-section>

  <integrity-section title="Example">
      <pre>&lt;integrity-schedule
    (scheduleChange)="onScheduleChanged($event)"&gt;
  &lt;/integrity-schedule&gt;</pre>
  </integrity-section>

  <integrity-section title="Schedule format">
    <pre>
      interface ISchedule {{ '{' }}
        from: Date;
        to?: Date;
        until?: Date;
        repeatType?: string;
        period?: number;
        weekdays?: Array&lt;string&gt;;
      {{ '}' }}
    </pre>
  </integrity-section>

  <integrity-section title="Attributes">
    <table>
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Required</th>
          <th>Value</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td>title</td>
              <td>no</td>
              <td>text</td>
              <td>Title</td>
            </tr>
          <tr>
            <td>text</td>
            <td>no</td>
            <td>text</td>
            <td>The text content in the card.</td>
          </tr>
          <tr>
            <td>buttonText</td>
            <td>no</td>
            <td>text</td>
            <td>Button text</td>
          </tr>
          <tr>
            <td>color</td>
            <td>no</td>
            <td>text</td>
            <td>The color of the card. Available colors are darkblue, lightblue, green, yellow, orange and red. If not color is specified darkblue is used by default.</td>
          </tr>
      </tbody>
    </table>
  </integrity-section>

  <integrity-section title="Demo">
    <integrity-card title="This is a title" text="Here is some text that is displayed within the text section of the card." buttonText="Button" color="red"></integrity-card>
  </integrity-section>
