<mat-toolbar class="integrity-background-color">
  <mat-toolbar-row>
    <mat-icon *ngIf="drawerMode == 'over'" class="menu-icon" (click)="drawer.toggle()">{{ drawer.opened ? 'close' : 'menu' }}</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="integrity-background-color">

  <mat-sidenav #drawer class="integrity-background-color" [mode]="drawerMode" [opened]="drawerMode == 'side'">
    <mat-nav-list>
      <a mat-list-item routerLink="/typography" routerLinkActive="active">Typography</a>
      <a mat-list-item routerLink="/section" routerLinkActive="active">Section</a>
      <a mat-list-item routerLink="/qr-code-demo" routerLinkActive="active">QR Code</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-frame"><router-outlet></router-outlet></div>
  </mat-sidenav-content>

</mat-sidenav-container>
