<mat-toolbar class="integrity-background-color">
  <mat-toolbar-row>
    <mat-icon *ngIf="drawerMode == 'over'" class="menu-icon" (click)="drawer.toggle()">{{ drawer.opened ? 'close' : 'menu' }}</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="integrity-background-color">

  <mat-sidenav #drawer class="integrity-background-color" [mode]="drawerMode" [opened]="drawerMode == 'side'">
    <mat-nav-list>
      <a mat-list-item routerLink="/get-started" routerLinkActive="active">
        <mat-icon>home</mat-icon>Getting Started</a>
      <a mat-list-item routerLink="/typography" routerLinkActive="active">
        <mat-icon>text_fields</mat-icon>Typography</a>
    </mat-nav-list>
    <integrity-section title="Components" enableExpansion="true" expansionId="components" class="nav-list">
      <mat-nav-list>
        <a mat-list-item routerLink="/section-demo" routerLinkActive="active">
          <mat-icon>view_agenda</mat-icon>Section</a>
        <a mat-list-item routerLink="/qr-code-demo" routerLinkActive="active">
          <mat-icon>center_focus_strong</mat-icon>QR Code</a>
      </mat-nav-list>
    </integrity-section>
    <integrity-section title="Directives" enableExpansion="true" expansionId="directives" class="nav-list">
      <mat-nav-list>
        <a mat-list-item routerLink="/clipboard-demo" routerLinkActive="active">
          <mat-icon>content_cut</mat-icon>Clipboard</a>
        <a mat-list-item routerLink="/drag-and-drop-demo" routerLinkActive="active">
          <mat-icon>adjust</mat-icon>Drag and Drop</a>
      </mat-nav-list>
    </integrity-section>
    <integrity-section title="Services" enableExpansion="true" expansionId="services" class="nav-list">
      <mat-nav-list>
        <a mat-list-item routerLink="/dialogs-service-demo" routerLinkActive="active">
          <mat-icon>announcement</mat-icon>Dialogs</a>
        <a mat-list-item routerLink="/events-service-demo" routerLinkActive="active">
          <mat-icon>router</mat-icon>Events</a>
          <a mat-list-item routerLink="/parent-service-demo" routerLinkActive="active">
            <mat-icon>sync</mat-icon>Parent</a>
        </mat-nav-list>
    </integrity-section>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-frame">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
