.mat-sidenav-container {
  max-width: 1170px;
  margin: 0 auto;
  min-height: 80%;

  .mat-sidenav {
    width: 320px;
  }

  .mat-sidenav-content {
    .content-frame {
      background-color: #fff;
      box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
      margin: 4px;

      @media only screen and (max-width: 1170px) {
        margin: 4px 0;
      }
    }
  }
}
