<integrity-section title="Definition and Usage">
  The &lt;integrity-section&gt; defines a collapsible in an HTML page.
</integrity-section>

<integrity-section title="Example">
  <pre>&lt;integrity-section title="Hello World"
  enableExpansion="true"
  expansionId="926585fa-3065-46b4-b44e-1cc300052543"&gt;
  ...
&lt;/integrity-section&gt;</pre>
</integrity-section>

<integrity-section title="Attributes">

  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Required</th>
        <th>Value</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>title</td>
        <td>yes</td>
        <td>text</td>
        <td>Section title</td>
      </tr>
      <tr>
        <td>enableExpansion</td>
        <td>no</td>
        <td>boolean</td>
        <td>Allow the section to be expanded/collapsed</td>
      </tr>
      <tr>
        <td>expansionId</td>
        <td>no</td>
        <td>string</td>
        <td>Unique ID used to store the expanded state of the section</td>
      </tr>
    </tbody>
  </table>
</integrity-section>
<mat-divider></mat-divider>
<integrity-section title="Section 1" enableExpansion="true" expansionId="lorem-ipsum-1">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat tellus augue. Interdum et malesuada fames ac ante
    ipsum primis in faucibus. Cras nec fringilla mi, id pretium diam. Praesent pretium lacus ut pretium vestibulum. In interdum
    sapien et purus efficitur ultrices. Morbi id euismod nisi. Phasellus in imperdiet eros. Vestibulum volutpat tincidunt
    tellus, at convallis mauris ultrices et. Nullam eu sodales nibh. Duis molestie rhoncus urna ut sodales. Donec fringilla
    odio nec sollicitudin efficitur. Etiam volutpat sapien et ante rhoncus, ac hendrerit tellus sagittis.
  </p>
  <p>
    Fusce volutpat vestibulum odio, a feugiat est semper eget. Mauris ullamcorper vel lacus a accumsan. In non enim neque. Nunc
    porta laoreet quam, in elementum nibh scelerisque ut. Maecenas feugiat ex in elit dictum tincidunt. Maecenas sodales
    mauris eget urna malesuada, lacinia venenatis est ultricies. Suspendisse quis gravida mi. Maecenas at mauris lacus. In
    gravida velit ut imperdiet tempor. Sed hendrerit, massa et lacinia finibus, lectus nibh facilisis nunc, eget convallis
    lectus tellus ut felis. Sed volutpat urna neque. Aenean bibendum nisi vitae massa venenatis efficitur. Praesent ac blandit
    nulla, vitae euismod leo.
  </p>
</integrity-section>
<integrity-section title="Section 2" enableExpansion="true" expansionId="lorem-ipsum-2">
  <p>
    Sed in tincidunt ipsum, fringilla vulputate nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam
    sit amet placerat nisl. Duis dictum maximus venenatis. Duis mattis porttitor justo, ac mattis justo faucibus eu. Morbi
    at nulla imperdiet, tristique turpis eu, molestie felis. Vestibulum ipsum orci, blandit ut lacus sit amet, vestibulum
    porta felis. Sed lacinia porttitor euismod. Mauris et nunc id magna tempor egestas. Ut viverra arcu ipsum.
  </p>
  <p>
    Phasellus tincidunt erat eu cursus aliquam. Mauris sem nulla, ullamcorper eu erat eget, pharetra tincidunt enim. Sed sagittis,
    dolor nec facilisis luctus, nulla lacus varius felis, quis ultricies lacus enim in magna. Pellentesque sed eleifend ligula,
    non aliquam felis. Donec tristique in metus ac dapibus. Maecenas sed nisl ut mi rhoncus placerat. Cras dictum tellus
    vel semper commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at elementum massa.
  </p>
</integrity-section>
<integrity-section title="Section 3" enableExpansion="true" expansionId="lorem-ipsum-3">
  <p>
    Sed ultrices rhoncus consectetur. Duis vitae scelerisque nibh. Proin at pellentesque lectus. Mauris in convallis augue. Curabitur
    quis malesuada lectus, at ornare leo. Phasellus et turpis augue. Cras auctor lacinia dictum. Etiam euismod, augue eu
    dapibus aliquet, nunc risus malesuada felis, in egestas diam ipsum eu felis. Nullam sed placerat turpis, lacinia tempus
    eros. Nam velit urna, dignissim non mauris et, congue dapibus justo. Integer accumsan tincidunt nisi, sit amet varius
    odio molestie id. Mauris euismod felis eget sem bibendum semper.
  </p>
  <p>
    Aenean nibh magna, gravida in iaculis sit amet, finibus quis lacus. Fusce dui dui, sodales sit amet turpis ut, tempor accumsan
    nunc. Donec auctor, dolor vel placerat posuere, mauris ligula semper mauris, a pretium quam ex ut nisl. Curabitur massa
    sem, fermentum eget porttitor in, faucibus nec leo. Suspendisse potenti. Aliquam nunc tortor, pellentesque at risus sit
    amet, semper varius augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Aliquam ac dolor eu dolor blandit tristique. Nunc facilisis, lacus non bibendum aliquam, ante felis malesuada mauris,
    quis blandit turpis tortor et mi.
  </p>
</integrity-section>
<mat-divider></mat-divider>
<integrity-section title="Shiba Inu" enableExpansion="true" expansionId="shiba-inu">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>
      <button mat-raised-button color="accent">Share</button>
    </mat-card-actions>
  </mat-card>
</integrity-section>
<mat-divider></mat-divider>
<integrity-section title="Cards" enableExpansion="true" expansionId="cards">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Card 1</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Phasellus tincidunt erat eu cursus aliquam. Mauris sem nulla, ullamcorper eu erat eget, pharetra tincidunt enim. Sed sagittis,
        dolor nec facilisis luctus, nulla lacus varius felis, quis ultricies lacus enim in magna. Pellentesque sed eleifend
        ligula, non aliquam felis. Donec tristique in metus ac dapibus. Maecenas sed nisl ut mi rhoncus placerat. Cras dictum
        tellus vel semper commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at elementum massa.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Card 2</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Phasellus tincidunt erat eu cursus aliquam. Mauris sem nulla, ullamcorper eu erat eget, pharetra tincidunt enim. Sed sagittis,
        dolor nec facilisis luctus, nulla lacus varius felis, quis ultricies lacus enim in magna. Pellentesque sed eleifend
        ligula, non aliquam felis. Donec tristique in metus ac dapibus. Maecenas sed nisl ut mi rhoncus placerat. Cras dictum
        tellus vel semper commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at elementum massa.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Card 3</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Phasellus tincidunt erat eu cursus aliquam. Mauris sem nulla, ullamcorper eu erat eget, pharetra tincidunt enim. Sed sagittis,
        dolor nec facilisis luctus, nulla lacus varius felis, quis ultricies lacus enim in magna. Pellentesque sed eleifend
        ligula, non aliquam felis. Donec tristique in metus ac dapibus. Maecenas sed nisl ut mi rhoncus placerat. Cras dictum
        tellus vel semper commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at elementum massa.
      </p>
    </mat-card-content>
  </mat-card>
</integrity-section>
