@import "~@brickchain/integrity-theme/material-theme";

.integrity-section {
  display: flex;
  flex-direction: column;
  padding: 15px 30px 15px 30px;

  .integrity-section-title {
    vertical-align: bottom;
    color: mat-color($integrity-primary);
    user-select: none;
    margin-bottom: 10px;

    .mat-icon {
      vertical-align: middle;
      display: inline-block;
      visibility: hidden;
      line-height: 24px;
      font-size: 20px;
      transform: rotate(0deg);
      transition: transform 0.225s;
    }
  }

  .integrity-section-content {
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.225s;
  }

  &.canExpand {
    .integrity-section-title {
      margin-bottom: 0;
      color: mat-color($integrity-accent);
      cursor: pointer;

      .mat-icon {
        visibility: visible;
      }
    }
  }

  &.expanded {
    .integrity-section-title {
      margin-bottom: 10px;

      .mat-icon {
        transform: rotate(90deg);
      }
    }

    .integrity-section-content {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 850px) {
  .integrity-section {
    flex-direction: row;

    .integrity-section-title {
      margin-right: 10px;
      margin-bottom: 0 !important;
      flex: 0 0 210px;
    }

    .integrity-section-content {
      flex: 1 1 auto;
    }
  }
}
