/* You can add global styles to this file, and also import other style files */
@import "~@brickchain/integrity-theme/material-theme";

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
